[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
jupyter = "*"
requests = "*"
seaborn = "*"
pydot = "*"
arviz = "*"
pymc3 = "*"
statsmodels = "*"
fbprophet = "*"
plotly = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
sklearn = "*"
xlrd = "*"
tensorflow = "*"
ipdb = "*"

[requires]
python_version = "3.7"
